<% if @errors.present? %>
<% @errors.each do |error| %>
var error = "<%= error%>";
$('#training_name ul').html('<li class="error">'+error+'</li>');
<% end %>
<% else %>
$("#training_name")[0].reset();
$("#training_certification")[0].reset();
$("#training_number_of_day")[0].reset();
<% end %>