<div class="header">
  <%= link_to "MATRIX", root_path ,:class=>"heading-title"%>
  <ul class="nav nav-pills pull-right menu-list">
    <li><%= link_to "HOME",root_path,:class=> "menu-item-text" %></li>
  </ul>
</div>
