<div style="margin-left:20px;">
  <h4>Welcome to this Application</h4>
  <%= link_to "Create Position", positions_path,:class=>"btn btn-primary" %><br><br>
  <%= link_to "Create Training", trainings_path,:class=>"btn btn-primary" %>
</div>


